.red-box {
  background-color: red !important;
  color: white;
  padding: 1rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.blue-box {
  background-color: blue !important;
  color: white;
  padding: 1rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.green-box {
  background-color: green !important;
  color: white;
  padding: 1rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}
